# Node modules
node_modules/

# Environment variables
.env

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
backend/.env.test
backend/config/cloudinary.js
backend/config/cloudinary.js
